.terminalContainer {
  background: #1e1e1e;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #333;
  width: 100%;
  height: 440px;
  display: flex;
  flex-direction: column;
}

.terminalTitle {
  color: #fff;
  margin-bottom: 8px;
}

.terminalDiv {
  width: 100%;
  height: 400px;
  background: #1e1e1e;
  border-radius: 8px;
  border: 1px solid #333;
} 